@media only screen and (min-width: 768px) {
    .parallax-main {
        background-attachment: fixed;
        z-index: 1;
        h1, #large-text {
            font-size: 6em;
            letter-spacing: 3px;
            line-height: 1em;
            text-shadow: 1px 1px #888;
        }
    }

    .parallax-block {
        h2 {
            color: #000;
            text-shadow: none;
        }
    }

	.footer {
	background-attachment: fixed;
  padding-top: 15px;
  padding-bottom: 15px;
		img {
			height: 50px;
		}
	}
	.contactform {
		width: 100%;
    padding: 15px 5px;
	}

.clients {
    display: inline-flex;
    text-align: center;
    margin: 15px;
    p {
        line-height: 1.6em;
        font-size: 1.15em;
    }
}

  .content {
      width: 85vw;
      max-width: 900px;
  }
  .contact-form {
      padding: 35px 5px 35px 5px;
      width: 55vw;
  }
}
