@media only screen and (min-width: 768px) {
    .parallax-main {
    &:before {
        content: "";
        background-attachment: fixed;
    }
        h1, #large-text {
            font-size: 6em;
            letter-spacing: 3px;
            line-height: 1em;
            text-shadow: 1px 1px #888;
        }
    }

    .parallax-block {
        h2 {
            color: #000;
            text-shadow: none;
        }
    }

    .footer {
        padding-top: 15px;
        padding-bottom: 15px;
        img {
            height: 50px;
        }
    }
    .contactform {
        width: 100%;
        padding: 15px 5px;
    }

    .clients {
        display: inline-flex;
        text-align: center;
        margin: 15px;
        p {
            line-height: 1.6em;
            font-size: 1.15em;
        }
    }

    .content {
        max-width: 900px;
        height: 100%;
    }
    .contact-form {
        padding: 35px 5px 35px 5px;
        width: 55vw;
    }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .parallax-main {
        &:before {
            background-attachment: scroll;
            position: absolute;
        }
    }

    .parallax-pricing {
        &:before {
            background-attachment: scroll;
            position: fixed;
        }
    }

    .parallax-pricing-second {
        overflow-x: hidden;
        &:before {
            position: fixed;
        }
    }
    .parallax-block {
        background-color: #eee;
        min-height: 0;
        height: 100%;
        border-top: 3px solid #000;
        border-bottom: 3px solid #000;
        z-index: 100;
        h2 {
            color: #000;
        }
        &:before {
            height: 0;
        }
    }
}
