@media only screen and (min-width: 768px) {
    .parallax-main {
        h1, #large-text {
            font-size: 6em;
            letter-spacing: 3px;
            line-height: 1em;
            text-shadow: 1px 1px #888;
        }
    }

    .parallax-block {
        h2 {
            color: #000;
            text-shadow: none;
        }
    }

    .contestrules {
        margin: 0 auto 35px auto;
    }

    .prize {
        display: inline-flex;
        img {
            transition: .5s ease-in-out;
            height: 250px;
            width: 250px;
            &:hover {
                height:350px;
                width: 350px;
            }
        }
    }

    .content-block {
        .paragraph {
            max-width: 450px;
            min-width: 250px;
            margin: 10px;
        }
    }

    .paragraph {
            margin: 35px;
        }

    .cards {
    }

    .footer {
        padding-top: 15px;
        padding-bottom: 15px;
        img {
            height: 50px;
        }
    }
    .contactform {
        padding: 15px 5px;
    }

    .clients {
        display: -webkit-inline-box;
        display: -webkit-inline-flex;
        display: -ms-inline-flexbox;
        display: inline-flex;
        text-align: center;
        margin: 15px;
        max-width: 100%;
        p {
            line-height: 1.6em;
            font-size: 1.15em;
        }
    }

    .contact-form {
        padding: 35px 5px 35px 5px;
        width: 55vw;
    }
}
@media only screen and (max-width: 1300px) {
    .parallax-block-2 {
        flex-direction: column;
    }
    .content-block2 {
        width: auto !important;
    }
    .psuedoImg {
        width: 250px;
        height: 250px;
        padding-bottom: 0;
    }
}


@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
		// Fixes IE flex issue, must be set to parent container of flex items/divs
		.ie-11 {
				display: -webkit-box;
				display: -webkit-flex;
				display: -ms-flexbox;
				display: flex;
		}
    .parallax-pricing-second {
        overflow: hidden;
    }
    .parallax-block {
    }
    label {
        h2 {
            white-space: normal !important;
        }
    }
}
// MS Edge
@supports (-ms-ime-align:auto) {
    .section {
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        -webkit-animation-name: opacityEdge;
        animation-name: opacityEdge;
    }
}
