
// Nav

.lp-nav {
    z-index:5;
    position: fixed;
    top: 25px;
    right: 25px;
    flex-direction: column;
}

.nav-link {
    content: "";
    padding: 10px 25px !important;
    margin: 5px;
    border-radius: 0;
    background-color: $dark-color;
    box-shadow: 2px 2px 2px $light-color;
    -webkit-transform: skew(-20deg);
    -moz-transform: skew(-20deg);
    -o-transform: skew(-20deg);
}

a.nav-link:hover {
    background-color: $main-color;
    -webkit-transform: skew(0deg);
    -moz-transform: skew(0deg);
    -o-transform: skew(0deg);
}

.active {
    transition: .5s ease;
    background-color: $main-color;
    content: "";
    -webkit-transform: skew(20deg);
    -moz-transform: skew(20deg);
    -o-transform: skew(20deg);
}

.parallax-background {
    position: absolute;
    background-attachment: fixed;
    max-width: 100%;
    width:100%;
    min-height: 100%;
    z-index: -1;
    background-image: $bg-image;
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    -webkit-filter: brightness(.35);
    -moz-filter: brightness(.35);
    -o-filter: brightness(.35);
    -ms-filter: brightness(.35);
    filter: brightness(.75);
}

.testimonial-bg {
    position: absolute;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-image: $bg-image;
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    -webkit-filter:blur(10px);
    -moz-filter:blur (10px);
    -o-filter:blur(10px);
    -ms-filter:blur (10px);
    filter: url('blur.svg#blur');
    filter:blur(10px);
}


// Main Divs

.parallax-lp {
    text-align: center;
    min-height: 100vh;
    h1, #large-text {
        font-family: $lp-font-1;
        font-weight: 200;
        margin-top: 0x;
    }
}

.parallax-block-lp {
    overflow: hidden;
    background-color: $dark-color;
    min-height: 70vh;
    hr {
        border-top: 1px solid lighten($light-color,40%);
    }
    .content-lp {
        text-align: center;
        max-width: 1400px;
        p {
            color: $light-color;
            font-family: $lp-font-3;
            margin: 10px;
            font-size: 1.3em;
        }
    }
}
.parallax-block-lp-2 {
    margin: 0 auto;
    .content-lp {
        margin: 0 auto;
        padding: 25px;
        p {
            color: $light-color;
        }
        h3 {
            font-family: $lp-font-2;
            color: $light-color;
            font-size: 1.7em;
            padding-top: 15px;
        }
        .lp-card {
            background: $dark-color;
            padding: 25px;
            box-shadow: 2px 2px 5px $light-color;
            margin: 10px auto;
            min-width: 420px;
            transform: $lp-skew;
            -webkit-transform: $lp-skew;
            -moz-transform: $lp-skew;
            -o-transform: $lp-skew;
            transition: .7s ease-in-out;
        }
        .lp-card:hover {
            z-index: 5;
            box-shadow: 1px 1px 15px $light-color;
            transform: $lp-unskew;
            -webkit-transform: $lp-unskew;
            -moz-transform: $lp-unskew;
            -o-transform: $lp-unskew;
        }

    }
}

.header-shape {
    z-index: 1;
    position: relative;
    color: $light-color;
    font-family: $lp-font-2;
    font-size: 2.7em;
    text-shadow: none;
    margin: 25px auto;
    max-width: 600px;
}

.header-shape:before {
    z-index: -1;
    position: absolute;
    top:0px;
    content: "";
    background-color: $main-color;
    height:100%;
    width: 100%;
    -webkit-transform: skew(-10deg);
    -moz-transform: skew(-10deg);
    -o-transform: skew(-10deg);
    max-width: 700px;
    max-height: 250px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
                            

.old-scroll-shape {
    position: absolute;
    top: 0px;
    left: 0px;
}
.old-scroll-shape:before {
    position: fixed;
    content: "";
    display: block;
    z-index: 0;
    width: 1400px;
    height: 100vh;
    opacity: 1;
    background-color: $main-color;
    -webkit-transform: skew(80deg);
    -moz-transform: skew(80deg);
    -o-transform: skew(80deg);
}

// Button 
.lp-button {
    button {
        position: relative;
        background: none;
        margin-top: 35px;
        font: $lp-font-button;
        line-height: 34px;
        color: $light-color;
        padding: 10px 25px;
        transition: .5s ease-out;
        outline: none;
        border: none;
    }
    button:before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        border: 2px solid $dark-color;
        transition: .5s ease-out;
        transform: $lp-btn-skew;
        -webkit-transform: $lp-btn-skew;
        -moz-transform: $lp-btn-skew;
        -o-transform: $lp-btn-skew;
    }
    button:hover {
        cursor: unset;
        color: $main-color;
        border-color: $main-color;
    }
    button:focus {
        outline: none;
    }
    button:hover:before {
        content: "";
        border-color: $main-color;
        -webkit-transform: none;
        -moz-transform: none;
        -o-transform: none;
    }
}

.lp-btn-2 {
    button:before {
        border-color: $light-color;
    }
}

.collapsing {
    -webkit-transition: height .75s ease !important;
    -o-transition: height .75s ease !important;
    transition: height .75s ease !important;
}

.scroll-down {
    transition: .15s ease-out;
    button {
        color: $dark-color;
        border-color: $dark-color;
    }
}

.scroll-down:hover {
    border-color: $main-color;
    a {
        color: $main-color;
    }
}

.lp-w-75 {
    width: 75% !important;
}

.lp-testimonials {
    position: relative;
    background-attachment: fixed;
    min-height: 50vh;
    background-image: $bg-image; 
    p {
        color: $dark-color;
        font-family: $lp-font-3;
        margin: 10px;
        font-size: 1.3em;
    }
    h3 {
        color: $dark-color;
        
    }
}

.brand-img {
    margin-top: 35px;
    img {
        max-height: 85px;
        width: auto;
        transition: .5s ease;
        margin-bottom: 35px;

    }
    img:hover {
        -webkit-transform: scale(1.2);
        -o-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }
}

.quote {
    margin: 25px;
    border-right: 5px solid darken($main-color,5%);
    p {
        font-size: 1.1em;
    }
    h3 {
        font-size: 1.3em;
        margin-right: 10px;
        font-family: $lp-font-4;
        font-weight: 200;
    }
}

.lp-name {
    font-family: $lp-font-3;
    font-weight: 600;
    font-size: .9em;
}
// Group of Shapes

.group-of-shapes {
    position: relative;
    width: 320px;
    height: 320px;
    padding: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    -webkit-align-items: center;
    align-items: center;
    i {
        height: 100px;
        width: 100px;
        margin: 0px;
        padding: 0px;
        line-height: 100px;

    }
    i:nth-child(2) {
        align-self: flex-start;
    }
    i:nth-child(3) {
        float: left;
        align-self: flex-end;
        margin-top:-100px;
    }
    i:nth-child(4) {
    }
}

.group-of-shapes:before {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 100px;
    left: 0;
    right: 0;
    content: "\d7"; /* use the hex value here... */
    font-size: 300px; 
    font-family: Roboto;
    font-weight: 100;
    color: $main-color;
    line-height: 320px;
    z-index: 1;
    text-align: center;
}

// Landing Page Contact

.lp-contact {
    box-shadow: 1px 1px 2px $light-color;
    margin: 35px;
    padding: 25px;
    h3 {
        font-family: $lp-font-2;
        color: $light-color;
        font-size: 1.7em;
        padding: 25px;
    }
    input[type=text],[type=email], select, textarea {
        color: $placeholder-color;
        border: none;
        border-bottom: 1px solid $placeholder-color;
        outline: none;
        margin-bottom: 5px;
        font: $lp-font-4;
    }

    input[type=submit] {
        margin-top: 10px;
        color: $placeholder-color;
        border-style: solid;
        padding: 7px 10px;
        border-radius: 4px;
        border-color: $placeholder-color;
        -webkit-transition: 0.5s ease all;
        transition: 0.5s ease all;
    }

    input[type=submit]:hover {
        background-color: $placeholder-color;
        color: #838F84;
    }

    input[type=submit]:disabled {
        opacity: 0.5;
        color: $disabled-color;
        background-color: transparent;
        border-color: $disabled-color;
        cursor: no-drop;
        -webkit-transition: 0.5s ease all;
        transition: 0.5s ease all;
    }

    textarea {
        resize: none;
        outline: none;
        min-height: 120px;
        font: $lp-font-4;
    }

    fieldset {
        border: none;
        background-color: transparent;
        font: $lp-font-4;
    }
}

.credit {
    h6 {
        color: $dark-color;
        font-weight: 200;
        font-size: .7em;
    }
    a {
        color: $dark-color !important;
        text-decoration: none !important;
    }
    a:hover {
        color: $main-color !important;
    }
}
@media screen and (max-width: 768px) {
    body {
        oveflow-x: hidden;
    }
    .lp-nav {
        top: 0px;
        padding-top: 15px;
        padding-bottom: 35px;
        flex-direction: row;
        right: 0;
        width:100%;
        left: 50%;
        transform: translateX(-50%);
        justify-content: center;
        align-items: center;
        text-align: center;
        background: linear-gradient(
        hsl(0, 0%, 0%) 0%,
        hsla(0, 0%, 0%, 0.738) 19%,
        hsla(0, 0%, 0%, 0.541) 34%,
        hsla(0, 0%, 0%, 0.382) 47%,
        hsla(0, 0%, 0%, 0.278) 56.5%,
        hsla(0, 0%, 0%, 0.194) 65%,
        hsla(0, 0%, 0%, 0.126) 73%,
        hsla(0, 0%, 0%, 0.075) 80.2%,
        hsla(0, 0%, 0%, 0.042) 86.1%,
        hsla(0, 0%, 0%, 0.021) 91%,
        hsla(0, 0%, 0%, 0.008) 95.2%,
        hsla(0, 0%, 0%, 0.002) 98.2%,
        hsla(0, 0%, 0%, 0) 100%)
    }
    .nav-link {
    }
    .parallax-block-lp {
        height: 100%;
    }
    .parallax-block-lp-2 {
        .content-lp {
            padding: 10px;
        }
    }
    .scroll-down {
        bottom: 0 !important;
    }
    .lp-card {
        width: 95% !important;
        margin: 5px auto !important;
        transform: none !important;
        -webkit-transform: none !important;
        -moz-transform: none !important;
        -o-transform: none !important;
        min-width: 100% !important;
        min-height: auto !important;

    }
    .square-shape:before {
        height: 155px;
    }
    .parallax-lp {
        z-index: 2;
    }
    .lp-contact {
        max-width: 95%;
        margin: 0 5px;
    }
    .parallax-background,
    .lp-testimonials,
    .testimonial-bg {
        background-attachment: scroll;
        background-position: center;
    }
    .lp-w-75 {
        width: 100% !important;
    }
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .testimonial-bg, .parallax-main, .lp-testimonials {
        background-attachment: scroll;
    }
}
@supports (-ms-ime-align:auto) {
    .testimonial-bg, .parallax-main, .lp-testimonials {
        background-attachment: scroll;
    }
}

