// Nav

.lp-nav {
    z-index:200;
    position: fixed;
    top: 50px;
    right: 50px;
    flex-direction: column;
}

.nav-link {
    content: "";
    padding: 10px 25px !important;
    margin: 5px;
    border-radius: 0;
    background-color: $dark-color;
    box-shadow: 2px 2px 2px $light-color;
    -webkit-transform: skew(-20deg);
    -moz-transform: skew(-20deg);
    -o-transform: skew(-20deg);
}

a.nav-link:hover {
    background-color: $main-color;
    -webkit-transform: skew(0deg);
    -moz-transform: skew(0deg);
    -o-transform: skew(0deg);
}

.active {
    transition: .5s ease;
    background-color: $main-color;
    content: "";
    -webkit-transform: skew(20deg);
    -moz-transform: skew(20deg);
    -o-transform: skew(20deg);
}

.parallax-background {
    position: fixed;
    top:0;
    left:0;
    width:100vw;
    height: 100vh;
    display: block;
    z-index: -80;
    background-image: $bg-image;
    background-size: cover;
    background-position: 20%;
    background-repeat: no-repeat;
    -webkit-filter: brightness(.85);
    -moz-filter: brightness(.85);
    -o-filter: brightness(.85);
    -ms-filter: brightness(.75);
    filter:blur(0px) brightness(.35);
}

.blur {
    position: absolute;
    top:0;
    left:0;
    width: 100vw;
    height: 100%;
    display: block;
    z-index: -70;
    background-image: $bg-image;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    -webkit-filter: brightness(.85);
    -moz-filter: brightness(.85);
    -o-filter: brightness(.85);
    -ms-filter: brightness(.75);
    filter:blur(3px) brightness(.35);
}


// Main Divs

.parallax-lp {
    text-align: center;
    height: 100%;
    min-height: 500px;
    h1, #large-text {
        font-family: $lp-font-1;
        font-weight: 400;
        margin-top: 0x;
    }
    h2 {
        font-family: $lp-font-2;
        font-size: 2em;
        font-weight: 200;
        color: #fff;
        margin: 55px auto;
        line-height: 1.8em;
        max-width: 420px;
    }
}

.parallax-block-lp {
    padding: 55px 0 0 0;
    background-color: $dark-color;
    height: 100%;
    overflow-x: hidden;
    .content-lp {
        text-align: center;
        p {
            color: $light-color;
            font-family: $lp-font-3;
            margin: 10px;
            font-size: 1.3em;
        }
        h2 {
            font-family: $lp-font-1;
            color: $light-color;
            font-size: 2.7em;
            text-shadow: none;
        }
    }
}
.parallax-block-lp-2 {
    background-color: lighten($main-color,12%);
    margin: 0 auto;
    .content-lp {
        margin: 0 auto;
        padding: 25px;
        p {
            color: $light-color;
        }
        h3 {
            font-family: $lp-font-2;
            color: $light-color;
            font-size: 1.7em;
            padding-top: 15px;
        }
        .lp-card {
            background: $dark-color;
            padding: 25px;
            border: 2px solid #000;
            border-radius: 5px;
            margin: 10px auto;
            min-height: 400px;
        }
    }
}

.header-shape {
    z-index: 1;
    position: relative;
    max-width: 700px;
    max-height: 250px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-shape:before {
    z-index: -1;
    position: absolute;
    top:0px;
    content: "";
    background-color: $main-color;
    height:100%;
    width: 100%;
    -webkit-transform: skew(-10deg);
    -moz-transform: skew(-10deg);
    -o-transform: skew(-10deg);
}
                            

.old-scroll-shape {
    position: absolute;
    top: 0px;
    left: 0px;
}
.old-scroll-shape:before {
    position: fixed;
    content: "";
    display: block;
    z-index: -1;
    width: 1400px;
    height: 100vh;
    opacity: 1;
    background-color: $main-color;
    -webkit-transform: skew(80deg);
    -moz-transform: skew(80deg);
    -o-transform: skew(80deg);
}
.square-shape {
}

.square-shape:before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    z-index: -100;
    width: 100%;
    height: 100px;
    opacity: 1;
    background-color: $main-color;
    -webkit-transform: skew(-10deg);
    -moz-transform: skew(-10deg);
    -o-transform: skew(-10deg);
}

// Section 2 Button 
.lp-button {
    button {
        background: none;
        margin: 55px;
        font-family: $lp-font-2;
        font-size: 34px;
        line-height: 34px;
        font-weight: 600;
        color: $light-color;
        padding: 8px;
        border: 2px solid $light-color;
        border-radius: 10px;
        transition: .5s ease-out;
        outline: none;
    }
    button:hover {
        color: $main-color;
        border-color: $main-color;
        transition: .5s ease-out;
    }
    button:focus {
        outline: none;
    }
}
.collapsing {
    -webkit-transition: height .75s ease !important;
    -o-transition: height .75s ease !important;
    transition: height .75s ease !important;
}

.scroll-down {
    padding: 8px;
    border: 2px solid $light-color-2;
    border-radius: 10px;
    margin: 150px auto 0 auto;
    a {
        font-family: $lp-font-2;
        font-size: 34px;
        line-height: 34px;
        font-weight: 100;
        color: $light-color-2;
        display: inline;
    }
    transition: .15s ease-out;
    a:visited {
        color: $dark-color;
    }

    a:hover {
        color: $main-color;
        text-decoration: none;
    }
}

.scroll-down:hover {
    margin-top: 155px;
    border-color: $main-color;
    a {
        color: $main-color;
    }
}

.lp-testimonials {
    position: relative;
    margin: 0 auto;
    padding: 150px 0 55px 0;
    height: 100%;
    p {
        color: $dark-color;
        font-family: $lp-font-3;
        margin: 10px;
        font-size: 1.3em;
    }
    h2 {
        font-family: $lp-font-1;
        color: $dark-color;
        font-size: 2.7em;
        text-shadow: none;
        margin-bottom: 25px;
        max-width: 400px;
    }
    h3 {
        color: $dark-color;
        
    }
}

.brand-img {
    margin-top: 35px;
    img {
        max-height: 85px;
        width: auto;
        transition: .5s ease;

    }
    img:hover {
        -webkit-transform: scale(1.2);
        -o-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }
}

.quote {
    margin: 25px;
    border-right: 5px solid lighten($main-color,8%);
    p {
        font-size: 1.1em;
    }
    h3 {
        font-size: 1.3em;
        margin-right: 10px;
    }
}

.parallax-contact-lp {
    background: #000;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    border: none;
    z-index: -5;
}

// Group of Shapes

.group-of-shapes {
    position: relative;
    width: 320px;
    height: 320px;
    padding: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    -webkit-align-items: center;
    align-items: center;
    i {
        height: 100px;
        width: 100px;
        margin: 0px;
        padding: 0px;
        line-height: 100px;

    }
    i:nth-child(2) {
        align-self: flex-start;
    }
    i:nth-child(3) {
        float: left;
        align-self: flex-end;
        margin-top:-100px;
    }
    i:nth-child(4) {
    }
}

.group-of-shapes:before {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 100px;
    left: 0;
    right: 0;
    content: "\d7"; /* use the hex value here... */
    font-size: 300px; 
    font-family: Roboto;
    font-weight: 100;
    color: $main-color;
    line-height: 320px;
    z-index: -1;
    text-align: center;
}

// Landing Page Contact

.lp-contact {
    input[type=text],[type=email], select, textarea {
        color: $placeholder-color;
        border: none;
        border-bottom: 1px solid $placeholder-color;
        background-color: transparent;
        -webkit-appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        border-radius: 0;
        outline: none;
        width: 95%;
        margin-bottom: 5px;
        font-family: $lp-font-2;
    }

    input[type=submit] {
        margin-top: 10px;
        color: $placeholder-color;
        background-color: transparent;
        border-style: solid;
        padding: 7px 10px;
        border-radius: 4px;
        border-color: $placeholder-color;
        cursor: pointer;
        font-size: 1.1em;
        -webkit-transition: 0.5s ease all;
        transition: 0.5s ease all;
    }

    input[type=submit]:hover {
        background-color: $placeholder-color;
        color: #838F84;
    }

    input[type=submit]:disabled {
        opacity: 0.5;
        color: $disabled-color;
        background-color: transparent;
        border-color: $disabled-color;
        cursor: no-drop;
        font-size: 1.1em;
        -webkit-transition: 0.5s ease all;
        transition: 0.5s ease all;
    }

    textarea {
        resize: none;
        outline: none;
        height: 120px;
        font-family: $lp-font-2;
    }

    fieldset {
        border: none;
        background-color: transparent;
        font-family: $lp-font-2;
    }
}

.credit {
    h6 {
        color: $dark-color;
        font-weight: 200;
        font-size: .7em;
    }
    a {
        text-decoration: none !important;
    }
    a:hover {
        color: $main-color;
    }
}
@media screen and (max-width: 768px) {
    .lp-nav {
        top: 3px;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .nav-link {
    }
    .parallax-block-lp-2 {
        .content-lp {
            padding: 0px;
        }
    }
    .lp-card {
        padding: 2px;
    }
    .square-shape:before {
        height: 155px;
    }
}
