.navbar-custom {
		z-index: 200;
		position: absolute;
		top: 0;
		left :0;
		color: black;
		width: 100%;
		&:before { 
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				background: $gradient-nav;
				height: 215px;
				opacity: 1;
				width: 100%;
				z-index: -1;
		}
		img {
				display: block;
				vertical-align: -webkit-baseline-middle;
				max-height: 55px;
				-webkit-transition: .2s ease-in-out;
				-o-transition: .2s ease-in-out;
				transition: .2s ease-in-out;
				padding: 10px;
		}	
		img:hover {
				-webkit-transform: scale(1.02);
				-ms-transform: scale(1.02);
				transform: scale(1.02);
		}
}

.scrolled::before {
    background: #000;
}


.fa-2x {
		vertical-align: middle;
		font-size: 1.7em;
}

.menu {
		display: inline;
		ul {
				display: block;
				float: right;
				margin: 0px 0px 0px 0px;
				padding: 0px;
		}

		li {
				list-style-type: none;
				margin: 10px;
				padding: 0px;
				display:inline;
				vertical-align: -webkit-baseline-middle;
		}
		a, a:visited {
				color: $link-color;
				text-decoration: none;
				font-weight: 200;
		}

		a:hover {
				color: grey;
		}
}

.promo-parent {
		position: relative;
		z-index: 200;
}

.promo {
		position: fixed;
		display: flex;
    align-items: center;
    justify-content:center;
		top: 100px;
		right: 50px;
		z-index: 1;
		max-width: 135px;
		text-align: center;
		-webkit-transition: .5s ease-in-out;
		-o-transition: .5s ease-in-out;
		transition: .5s ease-in-out;
		p {
				z-index: 5;
				font-size: 1.2em;
				color: #fff;
				text-align: center;
		}
}
.promo:after {
		background: $promo-color;
		z-index: -2;
    @include promo-transform;
}
.promo:before {
		text-shadow: 2px 2px 10px #000;
		z-index: -3;
    @include promo-transform;
}

.promo span:before {
		background: $promo-gloss;
		z-index: -1;
    @include promo-transform;
}

.promo:hover {
		-webkit-transform: scale(1.2);
		-ms-transform: scale(1.2);
		transform: scale(1.2);
}

@media only screen and (max-width: 500px) {
		.promo {
				position: absolute;
				top: 125px;
				right: 10px;
				-webkit-transform: scale(.7);
				-ms-transform: scale(.7);
				transform: scale(.7);
		}
}

/**
Mobile Menu View Landscape
 **/

@media only screen and (max-width: 767px) and (min-width: 500px) {
    .promo {
				position: absolute;
				top: 50px;
				right: 50px;
				-webkit-transform: scale(0.9);
				-ms-transform: scale(0.9);
				transform: scale(0.9);
    }
}

/** 
Menu Desktop View
 **/

@media only screen and (max-width: 768px) {
		.menu {
				float: left;
				ul {
						margin: auto;
						float: left;
						li {
								font-size: 1.2em;
						}
				}
		}
}
@media only screen and (min-width: 768px) {
		.navbar-custom {
				width: 100%;
				z-index: 200;
				position: fixed;
				height:8vh;
				padding: 7px;
				min-height: 50px;
				-webkit-transition: 1.5s;
				-o-transition: 1.5s;
				transition: 1.5s;
				vertical-align: -webkit-baseline-middle;
				img {
						height: 100%;
						display: inline;
						margin: 0px 0px 0px 5px;
						padding: 0px;
				}
				&:before { 
						content: "";
						position: absolute;
						top: 0;
						left: 0;
						background: $gradient-nav;
						height: 155px;
						opacity: 0.7;
						width: 100%;
						z-index: -1;
				}
		}

		.scrolled {
				background-color: #222;
				height: 5vh;
				-webkit-transition: 1.5s;
				-o-transition: 1.5s;
				transition: 1.5s;
		}

		.fa-2x {
				vertical-align: middle;
				font-size: 1.7em;
		}

		.menu {
				float: right;
				ul {
						display: -webkit-inline-box;
						display: -webkit-inline-flex;
						display: -ms-inline-flexbox;
						display: inline-flex;
						-webkit-box-align: center;
						-webkit-align-items: center;
						-ms-flex-align: center;
						align-items: center;
						margin: 0px 15px 0px 0px;
						padding: 0px;
				}

				li {
						list-style-type: none;
						margin: 10px;
						padding: 0px;
						display:inline;
				}
		}
}
