body {
    margin: 0px;
    padding: 0px;
    font-family: $base-font-family;
    background: $background-color;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-overflow-scrolling: touch;
    a, a:visited {
        color: $brand-color;
        text-decoration: none;
        font-weight: 600;
        -webkit-transition: .15s ease-in-out;
        -o-transition: .15s ease-in-out;
        transition: .15s ease-in-out;
    }
    a:hover {
        color: darken($brand-color, 20%);
    }
    :focus {
        outline: none;
    }
    h2 {
        color: $light-color;
    }
}

img {
    image-rendering: -webkit-optimize-contrast;
    max-width: 100%;
}

strong, b {
    font-weight: 800;
}


/* Scroll Effect */

.parallax-main {
    perspective: 1;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 100;
    h1, #large-text {
        color: $text-color;
        margin-top: 55px;
        font-size: 3.5em;
        text-transform: capitalize;
        text-align: center;
        font-weight: 600;
        z-index: 100;
        text-shadow: 1px 1px #000;
    }
    h3 {
        font-size: 1em;
    }
    &:before {
        transform: translate3d(0,0,0);
        -webkit-transform: translate3d(0,0,0);
        position: absolute;
        top: 0px;
        left: 0px;
        content: "";
        -webkit-background-size: cover !important;
        background-attachment: scroll !important;
        background-size: cover !important;
        will-change: transform;
        background-position: center top;
        width: 100%;
        height: 100%;
        }
}

.title {
    h2 {
        font-size: 2.5em;
        text-shadow: none;
        text-transform: capitalize;
        letter-spacing: 3px;
        color: #fff;
        z-index: 15;
        margin: 25px auto;
    }
}

.color1 {
    color: $brand-color;
}

.color2 {
    color: $pink-color;
}

.parallax-first {
    min-height:100vh;
    z-index: 10;
    &:before {
        background: url($baseurl + "/assets/images/ww-bg-1.jpg");
    }
}

.parallax-second {
    min-height: 70vh;
    z-index: 0;
    &:before {
        background: url($baseurl + "/assets/images/ww-bg-2.jpg");
    }
}

.parallax-portfolio-first {
    min-height:100vh;
    z-index: 5;
    &:before {
        background-image: url($baseurl + "/assets/images/ww-blue-1.jpg");
    }

}

.brandBlock {
        background: #483855;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        min-height: 200px;
        margin: 0px !important;
    img {
        margin: 15px !important;
        max-height: 55px !important;
    }
}
    

.parallax-pricing {
    min-height:100vh;
    z-index: 15;
    &:before {
        background-image: url($baseurl + "/assets/images/teal-mountains.jpg");
    }
}

.parallax-pricing-second {
    min-height:70vh;
    &:before {
        background-image: url($baseurl + "/assets/images/teal-mountains.jpg");
    }
}

.parallax-contact {
    min-height: calc(100vh - 84px);
    margin: 0;
    padding: 0;
    border: none;
    h2 {
        margin: 80px auto !important;
    }
    &:before {
        background: url($baseurl + "/assets/images/ww-bg-3.jpg");
    }
}

.parallax-contest {
    display: block;
    min-height:100vh;
    padding-top: 175px; 
    border-bottom: 3px solid #000;
    &:before {
        content: "";
        background-image: url($baseurl + "/assets/images/ww-bg-1.jpg");
        z-index: 5;
        -webkit-background-size: cover;
        background-position: center bottom;
        position: absolute;
    }
}


.contestrules {
    max-width: 1000px;
    margin: 0 7px 35px 7px;
    padding: 5px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #eee;
    border: 3px solid #000; 
    -webkit-border-radius: 10px; 
            border-radius: 10px;
    padding: 5px;
    font-size: 1.2em;
}

.prize {
    display: inline-flex;
    img {
        transition: .5s ease-in-out;
        height: 100%;
        width: 100%;
    }
}

.contactform {
    width: 90%;
    max-width: 900px;
    display: flex;
    margin: 0 auto 80px auto;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #eee;
    border: 3px solid #000; 
    -webkit-border-radius: 10px; 
            border-radius: 10px;
    padding: 5px;
}

.chevron-down {
    display: none;
    position: absolute;
    z-index: 200;
    bottom: 15vh;
    font-size: 3em;
    font-weight: 100;
    color: #fff !important;
    left: 50%;
		-webkit-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
}

.chevron-down:hover {
    bottom: 14vh;
}

.fixed-background {
    &:before {
        content: "";
        background-image: url($baseurl + "/assets/images/ww-bg-1.jpg");
        position:fixed;
        background-attachment: fixed;
        background-size: cover;
        width: 100%;
        height: 100%;
        z-index: -1;
    }
}
.pricing-bg {
    &:before {
        background-image: url($baseurl + "/assets/images/teal-mountains.jpg");
    }
}

#contact {
    h2 {
        margin-bottom:15vh;
    }	
}

/* Content */

.content {
    text-align: center;
    align-self:center;
    z-index: 15;
    font-size: .8em;
    h2 {
        margin: 0px;
        padding: 0px;
        font-size: 1.7em;
        text-transform: capitalize;
        color: #000;
        font-weight: 600;
    }

    p {
        font-size: 1.3em;
        line-height: 1.6em;
        color: #444;
        margin: 10px;
    }
}

    .vertical {
        display: block;
        letter-spacing: 20px;
        padding: 25px;
        font-size: 1.7em;
        text-transform: uppercase !important;
        writing-mode: vertical-lr;
        text-orientation: sideways;
        white-space: nowrap;
    }
.vertical {
}

.parallax-block {
    width: 100%;
    background-color: #eee;
    display: flex;
    flex-direction: column;
    z-index: 20;
    min-height: 50vh;
    padding: 60px 0px;
    justify-content: center;
    h2 {
        color: #000;
    }
}

.parallax-block-2 {
    padding: 0px !important;
    background-color: #eee;
    display: flex;
    flex-direction: row;
    z-index: 20;
    min-height: 50vh;
    padding: 60px;
}

.projects-block {
    text-align: center;
}

.projects {
    align-items: center;
    width: 100% !important;
    background-color: #eee;
    img {
        max-width: 500px;
        min-width: 250px;
        max-height: 300px;
        object-fit: cover;
        object-position: top;
        border-radius: 5px;
        border: 3px solid #000;
        margin: 15px 40px;
    }
}

.projects-content {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    max-width: 1400px;
    padding: 35px;
    background-color: #fff;
    text-align: left;
    &:nth-child(2n) {
        background-color: #fff;
        img {
            order: 2
        }
    }
}

.projects-paragraph {
    margin: 0 40px;
    max-width: 500px;
    flex-direction: column !important;
    align-content: left !important;
    align-items: left;
    text-align: left !important;
    p {
        font-size: 1.4em;
        color: #444;
        margin: 35px 0;
    }
    h2 {
        font-size: 3em;
        margin: 0px;
        padding: 0px;
        align-self: normal;
    }
    h3 {
        font-size: 1.5em;
        color: #444;
        text-transform: uppercase;
        margin: 10px 0;
        padding: 0px;
        letter-spacing: 7px;
    }
    a, a:visited {
        border: 2px solid $brand-color;
        border-radius: 5px;
        padding: 10px;
        font-size: .9em;
        white-space: nowrap;
        &:hover {
            border-color: darken($brand-color, 10%);
        }
    }
}

.content-block {
    background-color: #eee;
    text-align: center;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    height: 100%;
    width: 100% !important;
    max-width: 100% !important;
    i {
        margin:25px 0;
        font-size: 4em;
        color: $pink-color;
    }
    .paragraph {
        min-width: 90%;
        width: 90%;
        padding: 0px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}


.content-block2 {
    order: 2;
    min-height:100%;
    text-align: center;
    justify-content: center;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    flex: 1;
    i {
        margin:25px 0;
        font-size: 4em;
        color: $pink-color;
    }
}

.paragraph {
    background-color: #fff;
    padding: 0px;
    border-radius: 5px;
    margin: 10px;
    max-width: 800px;
    p {
        margin: 15px 15px;
    }
}

.inverted {
    background-color: #292f37;
    p, h2 {
        color: #eee;
    }
}


.side {
    border-radius: 5px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    margin-left: auto !important;
    margin-right: auto !important;
    margin: 0px;
    background-color: #1b2a2f;
    padding: 7px;
    width: auto;
    display: inline-flex;
    align-items: center;
    text-align: left !important;
    p {
        font-size: 1em;
        color: #ededed;
        font-weight: 500;
        margin: 5px;
    }
}

.roundIcons i {
    margin: 0px 5px;
    border-radius: 50%;
    font-size: 2em;
    border: 6px $brand-color solid;
    color: #1b2a2f;
    line-height: 1.8em;
    width: 1.8em;
    height: 1.8em;
    text-align: center;
    display: inline-block;
    background-color: $brand-color;
    transition: .5s ease-in-out;
    &:hover {
        border-radius: 15px;
        background-color: #1b2a2f;
        color: $brand-color;
    }
}

.pattern {
    background: #2d3a49;
    background-image: $pattern-bg;
}

.examples {
    display: none;
}

.contentRow {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.contentImg {
    display: block;
}

.pseudoImg:nth-child(2n) {
    &:after {
        border: 3px solid $pink-color;
        color: $pink-color;
    }
}
.pseudoImg {
    position: relative;
    transition: .7s ease;
    margin: 30px;
    width: 200px;
    padding-bottom: 200px;
    height: 0px;
    z-index: 5;
    font-size: 300%;
    border-radius: $radius1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: 5px solid $brand-color;
    filter: saturate(.2);
    &:nth-child(2n) {
        border: 5px solid $pink-color;
    }
    &:after {
        content: "+";
        font-size: inherit;
        font-weight: 800;
        line-height: 50%;
        color: $brand-color;
        width: 25%;
        height: 25%;
        border: 3px solid $brand-color;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        transition: .5s ease-in-out;
        transition-delay: .1s;
        z-index: 10;
    }
    &:before {
        display: none;
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        border-radius: $radius1;
        transform: translate(-50%, -50%);
        z-index: 20;
        height: 100%;
        width: 100%;
        opacity: 0;
        background-color: rgba(0, 0, 0, 0.5);
        transition: .3s ease-in;
    }

    &:hover {
        transform: scale(1.15);
        box-shadow: 2px 2px 15px 0px rgba(0,0,0,0.75);
        filter: saturate(1);
        z-index: 10;
        &:after {
            width: 50%;
            height: 50%;
            opacity: 1;
            z-index: 99;
        }
        &:before {
            opacity: 1;
        }
    }
}


.right {

    margin-left: auto;
    margin-right: 100px;
}
.pricing {
    display: block;
    text-align: center;
    margin: 15px;
    z-index: 15;
    p {
        line-height: 1.6em;
        font-size: 1.3em;
    }
}

.price-box {
}

.box {
    width: 300px;
    max-height: 300px;
    background-color: #eee;
    -webkit-transition: $box-transition;
    -o-transition: $box-transition;
    transition: $box-transition; 
    border: 5px solid $brand-color;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 15px;
    padding: 0px;
    z-index: 15;
    &:nth-child(2n) {
        border: 5px solid $pink-color;
    }
    p {
        visibility: hidden;
        opacity: 0;
        font-size: 1.1em;
        -webkit-transition: $box-transition-2;
        -o-transition: $box-transition-2;
        transition: $box-transition-2; 
    }
    img {
        padding: 0px;
        margin: 0px;
        border: none;
        -webkit-border-radius:50%;
                border-radius:50%;
        -webkit-filter: saturate(.2);
                filter: saturate(.2);
        -webkit-transition: $box-transition;
        -o-transition: $box-transition;
        transition: $box-transition; 
    }
}
.box:hover {
    max-height: 999px;
    padding: 25px;
    margin: 0px;
    -webkit-border-radius: 10px;
            border-radius: 10px;
    p {
        visibility: visible;
        opacity: 1;
        -webkit-transition: $box-transition-3;
        -o-transition: $box-transition-3;
        transition: $box-transition-3; 
    }
    img {
        -webkit-filter: saturate(1);
                filter: saturate(1);
    }
}

.clients {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    margin: 15px;
    p {
        line-height: 1.6em;
        font-size: 1.3em;
    }
}

.thank-you {
    background-color: #eee;
    border: 3px solid #000;
    -webkit-border-radius: 10px;
            border-radius: 10px;
    padding: 25px 0px 50px 0px;
    margin-top: 50px;
    width: 90%;
}

.article {
    padding: 5px 5px 50px 5px;
}

.footer {
    background-color: #000;
}

// Fixes collapse glitch
.collapse.collapse.in {
    display: block!important;

}

body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-track {
    background-color: #333;
}

body::-webkit-scrollbar-thumb {
    background-color: #c3c3c3;
    outline: 1px solid #c3c3c3;
}
