body {
    margin: 0px;
    padding: 0px;
    font-family: $base-font-family;
    background: $background-color;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    a, a:visited {
        color: $brand-color;
        text-decoration: none;
        font-weight: 600;
        -webkit-transition: .15s ease-in-out;
        transition: .15s ease-in-out;
    }
    a:hover {
        color: $link-hover-color;
    }
    :focus {
        outline: none;
    }
    h2 {
        color: $light-color;
    }
}

// Fixes IE flex issue, must be set to parent container of flex items/divs
.ie-11 {
    display: flex;
}

img {
    image-rendering: -webkit-optimize-contrast;
    max-width: 100%;
}

@media only screen and (max-width: 768px) {

.parallax-main {
	background-attachment: scroll;
	background-repeat: no-repeat;
	background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding: 30px 0px 30px 0px;
  margin: 0px;
  padding: 30px 0px 30px 0px;
	width: 100%;
  text-align: center;
	h1, #large-text {
		color: $text-color;
		margin-top: 55px;
		font-size: 3.5em;
    text-transform: capitalize;
		text-shadow: 10px 10px 75px #000;
		text-align: center;
	}
  h3 {
    font-size: 1em;
  }
}

}
/* Scroll Effect */

.parallax-main {
	background-attachment: scroll;
	background-repeat: no-repeat;
	background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding: 30px 0px 30px 0px;
  margin: 0px;
  padding: 30px 0px 30px 0px;
	width: 100%;
  text-align: center;
	h1, #large-text {
		color: $text-color;
		margin-top: 55px;
		font-size: 3.5em;
    text-transform: capitalize;
		text-align: center;
    font-weight: 600;
	}
  h3 {
    font-size: 1em;
  }
}

.parallax-block {
  background-color: #eee;
  min-height: 50vh;
  border-top: 3px solid #000;
  border-bottom: 3px solid #000;
  h2 {
    color: #000;
  }
}

.parallax-first {
  background-image: url($baseurl + "/assets/images/ww-bg-1.jpg");
  min-height:100vh;
}
.parallax-second {
  background-image: url($baseurl + "/assets/images/ww-bg-2.jpg");
  min-height: 70vh;
}
.parallax-third {
  background-image: url($baseurl + "/assets/images/ww-bg-3.jpg");
  min-height: 70vh;
}

.parallax-portfolio-first {
  background-image: url($baseurl + "/assets/images/ww-blue-1.jpg");
  min-height:100vh;
}

.parallax-portfolio-second {
  background-image: url($baseurl + "/assets/images/ww-blue-2.jpg");
  min-height:70vh;
}

.parallax-pricing {
  background-image: url($baseurl + "/assets/images/teal-mountains.jpg");
  background-position: bottom;
  min-height:100vh;
}

.parallax-pricing-second {
  background-image: url($baseurl + "/assets/images/teal-mountains.jpg");
  background-position: bottom;
  min-height:70vh;
}

.parallax-contact {
  background-image: url($baseurl + "/assets/images/ww-bg-3.jpg");
  min-height: 100vh;
  margin: 0;
  padding: 0;
	border: none;
}


.contactform {
  width: 95%;
  margin: 0 auto 0 auto;
  justify-content: center;
  align-items: center;
  background-color: #eee;
  border: 3px solid #000; 
  border-radius: 10px;
  padding: 5px;
}

.chevron-down {
    position: absolute;
    bottom: 10vh;
    font-size: 3em;
    font-weight: 100;
    color: #fff !important;
}

.chevron-down:hover {
    bottom: 9vh;
}



#contact {
  h2 {
    margin-bottom:15vh;
  }	
}

/* Content */

.content {
    text-align: center;
    margin:15px 15px 15px 15px;
    h2 {
        margin: 0px;
        margin-bottom: 20px;
        padding: 0px;
        font-size: 1.5em;
        text-transform: capitalize;
        color: #000;
    }

    p {
        font-size: 1.3em;
        line-height: 1.6em;
        color: #000;
        margin: 10px;
    }
}

.pricing {
    display: block;
    text-align: center;
    margin: 15px;
    p {
        line-height: 1.6em;
        font-size: 1.3em;
    }
}

.price-box {
}

.box {
				padding: 0px 0px 0px 0px;
				hr {
									width: 90%;
									border-top: 1.5px solid black;
									margin-bottom: 35px;
									margin-top: 35px;
					}

				img {
								border-radius: 50%;
								border: 2px solid #000;
				}
}

.clients {
    display: block;
    text-align: center;
    margin: 15px;
    p {
        line-height: 1.6em;
        font-size: 1.3em;
    }
}

.thank-you {
    background-color: #eee;
    border: 3px solid #000;
    border-radius: 10px;
    padding: 25px 0px 50px 0px;
    margin-top: 50px;
    width: 90%;
}

.article {
    padding: 5px 5px 50px 5px;
}

.footer {
    background-color: #000;
}

// Fixes collapse glitch
.collapse.collapse.in {
      display: block!important;

  }

body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-track {
    background-color: #333;
}

body::-webkit-scrollbar-thumb {
    background-color: #c3c3c3;
    outline: 1px solid #c3c3c3;
}
