// Global variables
$base-font-family: 'Didact Gothic', sans-serif;
$base-font-size:   16px;
$base-font-weight: 100;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.7;
$letter-spacing: .6px;
$spacing-unit:     30px;
$content-width: 900px;
$text-color:       #fff;
$link-color:       #fff;
$background-color: #19282b;
$placeholder-color:  #000;
$brand-color: #cf4545;
$green-color: #19282b;
$link-hover-color: #19282b;
$link-hover-color-menu: #5a5a5a;
$box-transition: .9s ease-in-out;
$box-transition-2: .5s ease-in-out;
$box-transition-3: .6s .3s ease-in-out;
$disabled-color: #5a5a5a;

// Landing Page
// $main-color: #ff0c0c;
$main-color: #0cb0ff;
// $main-color: #ff3a3a;
$light-color: #000;
$light-color-2: #efefef;
$dark-color: #efefef;
$lp-font-1: futura-pt;
$lp-font-2: Permanent Marker;
$lp-font-3: futura-pt;
$lp-font-4: bold 1.1em futura-pt;
$lp-font-button: bold italic 34px Nothing You Could Do;
$bg-image: url($baseurl + "/assets/images/stormy-bg.jpg");
$bg-image-3: url($baseurl + "/assets/images/white-bricks.jpg");
$bg-image-2: url($baseurl + "/assets/images/time-lapse.jpg");
$lp-skew: skew(-50deg, 30deg) scale(0.5);
$lp-unskew: skew(0deg) scale(1);

// Fonts
@import url("https://use.typekit.net/foo6vcw.css");
@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Permanent+Marker|Lato|Didact+Gothic|Open+Sans|Nothing+You+Could+Do|Roboto:100,400,800|Oswald:400,600|Bangers');

@font-face {
  font-family: Didact Gothic;
}
