<div class="scroll scroll-contact">
  <div class="content" id="contact">
    <h2 id="large-text">Contact us Today!</h2>
    <div class="contactform">
      <form id="formaction" method="POST">
        <fieldset>
          <div class="field">
            <input type="text" name="name" placeholder="Name">
          </div>

          <div class="field">
              <input type="email" name="_replyto" placeholder="Email">
          </div>

          <div class="field">
              <input type="hidden" name="_subject" value="Website Contact">
          </div>

          <div class="field">
              <textarea name="message" placeholder="Ask a question, or book a meeting today. -- If someone referred you, please let us know!"></textarea>
          </div>
          <input type="text" name="_gotcha" style="display:none">
        </fieldset>

        <fieldset>
          <div class="field">
              <input id="sendMessage" type="submit" value="Send">
              <input type="hidden" name="_next" value="//">
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>
