<!DOCTYPE html>
<html>
  <head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-115588119-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-115588119-1');
</script>

    <title>Wolkowski Web Design</title>
    <meta name="keywords" content="Web Design, Medicine Hat Web Design, Medicine Hat Website Design, website design, Medicine Hat Websites, responsive website, responsive, web design medicine hat, medicine hat design, medicine hat website, website medicine hat,">
    <meta name="author" content="Wolkowski Web Design">
    <meta name="google-site-verification" content="nfQqoe9TSpUHEB17MSLhboN2SJLDxv-uzSlPUO05dWQ" />
    <meta name="description" content="Wolkowski Web Design is based in Medicine Hat, Alberta. We specialize in creating beautiful, responsive, and functional professional Web Sites."/>
    <meta name="viewport" content="width=device-width,intitial-scale=1">
    <!--  Essential META Tags -->
    <meta property="og:title" content="Wolkowski Web Design">
    <meta property="og:description" content="Wolkowski Web Design specializes in creating beautiful and functional websites. We believe great marketing requires a great user experience (UX). We design with UX being the focal point of every project.">
    <meta property="og:image" content="/images/ww-bg-2.jpg">
    <meta property="og:url" content="/">
    <meta name="twitter:card" content="summary_large_image">
    <!--  Non-Essential, But Recommended -->
    <meta property="og:site_name" content="Wolkowski Web Design">
    <meta name="twitter:image:alt" content="Wolkowski Web Design">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link href="{{ site.baseurl }}/assets/css/main.css" media="all" rel="stylesheet" type="text/css">
	</head>
