<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <title>{{ page.title }} | {{ site.title }}</title>
        <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
        <meta name="author" content="Wolkowski Web Design">
        <meta name="google-site-verification" content="nfQqoe9TSpUHEB17MSLhboN2SJLDxv-uzSlPUO05dWQ" />
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, shrink-to-fit=no">

        <!-- OG META Tags -->

        {% if page.title %}
        <meta content="{{ page.title }}" property="og:title" />
        {% else %}
        <meta content="{{ site.title }}" property="og:title" />
        {% endif %}

        <meta property="og:type" content="website" />
        <meta property="fb:app_id" content="1742441909419909"/>

        <meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}" />
        <meta property="og:site_name" content="{{ site.title }}" />
        <meta property="og:locale" content="en_US" />

        {% if page.image %}
        <meta property="og:image" content="{{ site.url }}{{ page.image }}" />
        <meta name="twitter:image" content="{{ site.url }}{{ page.image }}" />
        {% elsif page.ximage %}
        <meta property="og:image" content="{{ page.ximage }}" />
        <meta name="twitter:image" content="{{ page.ximage }}" />
        {% else %}
        <meta property="og:image" content="{{ site.url }}/assets/images/ww-bg-2.jpg"/>
        <meta name="twitter:image" content="{{ site.url }}/assets/images/ww-bg-2.jpg"/>
        {% endif %}

        <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />
        <meta name="twitter:card" content="summary_large_image">
        <!--  Non-Essential, But Recommended -->
        <meta name="twitter:image:alt" content="Wolkowski Web Design" />

        <!-- CSS and Favicon --> 
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css" media="all" type="text/css">
        <link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/assets/images/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}/assets/images/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ site.baseurl }}/assets/images/favicon/favicon-16x16.png">
        <link rel="manifest" href="{{ site.baseurl }}/assets/images/favicon/site.webmanifest">
        <link rel="mask-icon" href="{{ site.baseurl }}/assets/images/favicon/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#00aba9">
        <meta name="theme-color" content="#ffffff">
				<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
				<script src="https://cdnjs.cloudflare.com/ajax/libs/history.js/1.8/bundled/html4+html5/jquery.history.min.js" integrity="sha256-xUq1aLc+iK9AnnYV6cZzDXASNOvp1ksTGgj8ywvvPes=" crossorigin="anonymous"></script>
        <script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Organization",
  "url": "https://wolkowskiwebdesign.com",
  "name": "Wolkowski Web Design",
  "contactPoint": {
    "@type": "ContactPoint",
    "telephone": "+1-403-977-2474",
    "contactType": "Customer Service"
  }
}
        </script>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-115588119-1"></script>
        <script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());
gtag('config', 'UA-115588119-1');
        </script>
        <script src='https://www.google.com/recaptcha/api.js'></script>
        <script>
function enableSubmit() {
    var input = document.getElementById('form_submit');
    input.disabled = false;
    input.title = '';
}
        </script>
				{% include _facebook-pixel.html %}
    </head>
<body>
<div id="wrap">
{% include _facebook-messenger.html %}
