<section class="scroll-to" id="contact"> 
    <div class="parallax-main parallax-block-lp">
        <div class="container content-lp">
            <div class="row">
                <div class="col">
                    <h2 class="header-shape">Medicine Hat Website Quotes are Free!</h2>
                    <p>We are eager to discuss your web project with you. Simply reach out to us for a free quote on the development and design of your next website in Medicine Hat and Area. </p>
                    <hr>
                    <div class="row">
                        <div class="col-md-6">
                            <p><strong>Not from Medicine Hat?<br>Not a problem!</strong><br>Wolkowski Web Design has experience working on long-distance projects including web design, web development and content creation.</p>
                    </div>
                    <div class="col-md-6">
                    <p><strong>Want more information?</strong></p>
                    <p>Visit <a href="{{ site.baseurl }}/portfolio">our portfolio</a> to see additional examples of our work, or check out our <a href="{{ site.baseurl }}/pricing">pricing page</a> to get started.</p>
                    </div>
                    </div>
                    <div class="lp-button lp-btn-2">
                        <a href="{{ site.baseurl }}/"><button>Visit Our Full Website</button></a></div>
                    <br>
                </div>
                <div class="col">
                    <div class="lp-contact">
                    <hr>
                    <h6 style="color: #555;">Don't like forms? You can email us directly at <a href="mailto:contact@wolkowskiwebdesign.com">contact@wolkowskiwebdesign.com</a></h6>
                    <hr>
                    <script type="text/javascript">
function showThanks() {
    var div = document.getElementById(hidden_div);
    if (div.style.display == 'none') {
        div.style.display = '';
    }
    else {
        div.style.display = 'none';
    }
}
                    </script>
                    <div id="hidden_div" style="display:none;">
                        <p>Hidden!!</p>
                    </div>
                    <fieldset>
                        <form action="https://liveformhq.com/form/7c774adb-96e1-4ed8-bc6b-e7477a8f684e" method="POST" accept-charset="utf-8" onsubmit="showThanks">
                            <input type="hidden" name="_utf8" value="✓">

                            <!--
                                NOTE: This is an optional field, if your form has a field named '_redirect',
                                The user will be redirected to this page after the submission is saved
                            -->
                            <input type="hidden" value="https://www.wolkowskiwebdesign.com/thank-you-message" name="_redirect" />

                            <div class="field">
                                <input type="text" id="name" name="name" placeholder="Name">
                            </div>

                            <input type="text" id="email" name="email" placeholder="Email">

                            <input type="text" id="phone" name="phone" placeholder="Phone Number">
                            <textarea name="message" placeholder="Leave message here!"></textarea>

                            <div class="g-recaptcha" data-sitekey="6LeZ91gUAAAAABzm6UbjTI6mY5TFHWzHJrFwMcz3" data-callback="enableSubmit"></div>
                            <br>

                            <input type="submit" id="form_submit" value="Send" disabled>
                        </form>
                    </fieldset>
                </div>
                </div>
            </div>
        </div>
    </div>
    <div class="parallax-main footer credit">
        <a href="https://www.wolkowskiwebdesign.com"><img src="{{ site.baseurl }}/assets/images/wolkowskiwebdesignfooter.png"></a>
        <h6>Background Images by <a href="https://www.instagram.com/brandon_wood852/" target="_blank">Brandon Wood</a></h6>
    </div>
</section>
