<div class="navbar-custom">
    <a href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/assets/images/wolkowskiwebdesign.png"></a>
    <div class="menu">
        <ul>
            <li>
                <a href="{{ site.baseurl }}/">Home</a>
            </li>
            <li>
                <a href="{{ site.baseurl }}/pricing">Pricing</a>
            </li>
            <li>
                <a href="{{ site.baseurl }}/portfolio">Portfolio</a>
            </li>
            <li>
                <a href="{{ site.baseurl }}/articles/">Articles</a>
            </li>
            <li>
                <a href="#contact">Contact</a>
            </li>
            <br>
            <li>
                <a href="https://www.facebook.com/wolkowskiwebdesign" target="_blank"><i class="fab fa-2x fa-facebook-square"></i></a>
            </li>
            <li>
                <a href="https://twitter.com/fevish" target="_blank"><i class="fab fa-2x fa-twitter-square"></i></a>
            </li>
        </ul>
    </div>
</div>
