<div class="navbar-custom">
    <a href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/assets/images/wolkowskiwebdesign.png"></a>
        <ul class="menu">
            <li>
                <a href="{{ site.baseurl }}/">Home</a>
            </li>
            <li>
                <a href="{{ site.baseurl }}/pricing">Pricing</a>
            </li>
            <li>
                <a href="{{ site.baseurl }}/portfolio">Portfolio</a>
            </li>
            <li>
                <a href="{{ site.baseurl }}/articles/">Articles</a>
            </li>
            <li>
                <a href="{{ site.baseurl }}/contact">Contact</a>
            </li>
            <li>
                <a href="https://www.facebook.com/wolkowskiwebdesign" target="_blank"><i class="fab fa-2x fa-facebook-square"></i></a>
            </li>
            <li>
                <a href="https://twitter.com/fevish" target="_blank"><i class="fab fa-2x fa-twitter-square"></i></a>
            </li>
            <li class="number">
                <a href="tel:1-587-997-1511"><div class="numLink">(587) 997-1511</div><div class="numIcon"><i class="fas fa-phone"></i> &nbsp; </div></a>
            </li>
        </ul>
</div>
