.bg-wrap {
    height: 100%;
    margin: 0;
    overflow: hidden;
    position: relative;
}

.bg-wrap-2 {
    background: rgba(0, 0, 0, 0.35);
    z-index: 100;
    position:relative;
    padding: 35px;
}

.scroll-background {
    animation: move 30s ease;
    /* Add infinite to loop. */
    -ms-animation: move 30s ease infinite;
    -webkit-animation: move 30s ease infinite;
    -0-animation: move 30s ease infinite;
    -moz-animation: move 30s ease infinite;
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
    position: absolute;
}

@-webkit-keyframes move {
    0% {
        -webkit-transform-origin: bottom right;
        -ms-transform-origin: bottom right;
        transform-origin: bottom right;
        transform: scale(1.15);
        -ms-transform: scale(1.15);
        /* IE 9 */

        -webkit-transform: scale(1.15);
        /* Safari and Chrome */

        -o-transform: scale(1.15);
        /* Opera */

        -moz-transform: scale(1.15);
        /* Firefox */
    }
    100% {
        transform: scale(1.2);
        -ms-transform: scale(1.2);
        /* IE 9 */

        -webkit-transform: scale(1.2);
        /* Safari and Chrome */

        -o-transform: scale(1.2);
        /* Opera */

        -moz-transform: scale(1.2);
        /* Firefox */
    }
}
