---
---
// The liquid tag must remain in a scss file with the front matter or it will not work.
$baseurl:             '{{ site.baseurl }}';
@import "variables";
@import "pages";
@import "desktop";
@import "menu";
@import "contact";
@import "blog";
@import "pricing";
@import "ken-burns.css";
@import "landingpage";

.jarallax {
    position: relative;
    z-index: 0;
}

.inner {
    border-radius: 10px;
    height: 100%;
}
